@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

:root {
    --body-font: 'Montserrat', sans-serif;
    --neon-green-color: rgb(100, 255, 218);
}

html {
    font-family: var(--body-font);
    font-size: 16px;
    color: rgb(178, 211, 236);
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(10, 25, 47);
}

p, h1, h2, h3, a, ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.hero {
    margin: 0 auto;
    padding: 2rem;
}

.top {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro h1 {
    font-size: 2.4rem;
    color: var(--neon-green-color);
}

.intro span{
    font-size: 30px;
    color:rgb(178, 211, 236);
}

.img-container {
    position: relative;
    width: 30%;
    height: auto;
    margin: 2% 0;
    border-radius: 5px;
}

.img-container:hover .before {
    background-color: rgba(100, 255, 218, 0.3);
}

.img-container:hover::after {
    background-color: transparent;
}

.img-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(100, 255, 218, 0.45);
    pointer-events: none;
    z-index: 2;
    transition: 0.5s ease;
}

#jake {
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 10px;
    filter: blur(0.4px) grayscale(10%);
}

.before {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 100%;
    height: 100%;
    border: 2px var(--neon-green-color) solid;
    border-radius: 15px;
    pointer-events: none;
    z-index: -1;
    transition: 0.5s ease;
}

.middle {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    padding:0;
}


.middle-section {
    width: 100%;
    max-width: 500px;
    margin: 0 15px;
}


.about p {
    line-height: 24px;
    text-align: center;
}

.experience {
    line-height: 24px;
}

.experience li {
    position: relative;
    left: 4%;
}

.bottom {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.socials {
    display: flex;
    font-size: 2rem;
}

.socials a {
    color: rgb(178, 211, 236);
    margin: 0 10px;
    transition: transform 0.5s ease;
}

.socials a:hover {
    transform: translateY(-5px);
    color: var(--neon-green-color);
}

@media (max-width: 768px) {
    h1{
        font-size: 20px;
    }

    .intro span{
        font-size: 16px;
    }

    p{
        font-size: 12px;
    }

    .img-container {
        width: 50%;
    }

}

@media (max-width: 480px) {
    .section{
        margin-bottom: 1rem;
    }

    .intro h1 {
        font-size: 1.6rem;
    }

    .img-container {
        width: 70%;
    }

    .middle {
        flex-direction: column;
        align-items: center;
    }

    .section {
        margin-bottom: 1rem;
    }

    .socials {
        font-size: 1.5rem;
    }
}
