@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');


:root{
    --body-font: 'Montserrat', sans-serif;
    --neon-green-color:rgb(100, 255, 218);
}

html{
	font-family: var(--body-font);
	font-size:15px;
	color:var(--body-font-color);
	scroll-behavior: smooth;
}

body{
	/* overflow:hidden;  */
    margin: 0;
    background-color: rgb(10, 25, 47);
    height: 100vh;
}

p, h1, h2, h3, a, ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color:rgb(178, 211, 236);
}

.hero{
    padding:2rem 3.9rem;
}

.top{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fade-in 4s forwards;
}
  
.intro h1 {
    display: inline;
    font-size: 2.4rem;
    color: var(--neon-green-color);
}
  
.intro p {
    display: inline;
    font-size: 24px;
}

.img-container {
    position: relative;
    width: 30%;
    height: 30%;
    margin: 2%;
    border-radius: 5px;
}

.img-container:hover .before{
    background-color: rgba(100, 255, 218, 0.3);
}

.img-container:hover::after {
    background-color: transparent;
}
  
.img-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98.5%;
    border-radius: 10px;
    background-color: rgba(100, 255, 218, 0.45);
    pointer-events: none;
    z-index: 2;
    transition: 0.5s ease;
}

#jake{
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 10px;
    filter: blur(0.4px) grayscale(10%);
}


.before{
    position: absolute;
    top: 3%;
    left: 3%;
    width: 100%;
    height: 100%;
    border: 2px var(--neon-green-color) solid;
    border-radius: 15px;
    pointer-events: none;
    z-index: -1;
    transition: 0.5s ease;
}

.middle{
    margin-top: 1.4rem;
    display: flex;
    justify-content: space-around;
}

.about{
    width: 50%;
}

.about p{
    line-height: 28px;
    text-align: center;
}

.experience{
    line-height: 24px;
}

.experience li{
    position: relative;
    left: 4%;
}

.bottom{
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.socials {
    display: flex;
    font-size: 2rem;
    position: relative;
}

.socials::after {
    content: "";
    position: absolute;
    top: 130%;
    left: 0;
    width: 100%;
    height: 1px;
    border-radius: 10px;
    background-color: rgba(100, 255, 218, 0.45);
    pointer-events: none;
    z-index: 2;
    transition: 0.5s ease;
}

.socials i {
    color: rgb(178, 211, 236);
    transition: transform 0.5s ease;
    margin: 0 20px;
    position: relative;
}

.socials i:hover {
    transform: translateY(-5px);
    color: var(--neon-green-color);
}


@keyframes fade-in{
    100%{
        opacity: 100%;
    }
}
